* {
    margin: 5px;
}

:root {
    --purple: #4B0082;
}

.data-top {
    display: flex;
    justify-content: space-between;
}

.scores {
    background-color: #E0B0FF;
    border-radius: 2px;
    padding-top: 2px;
}

.scores a{
    text-decoration: none;
    color: black;
}

.time-limit {
    background-color: #E0B0FF;
    border-radius: 2px;
}

.center-text {
    padding-top: 200px;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#start-quiz {
    color: white;
    font-size: medium;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.question-one {
    width: 100%;
    text-align: center;
}

.answers-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.answer-btn {
    color: white;
    font-size: medium;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}


.hidden {
    display: flex;
    justify-content: center;
    color: #fcffa4;
    border-top: 2px solid #fcffa4;
    padding-top: 10px;
    font-size: large;
    font-style: italic;
}

.next {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

#next-q {
    font-size: 30px;
}